{% extends 'quiz_app/base.html' %}
{% load static %}

{% block title %}
<title>{{obj}}</title>
{% endblock title %}




{% block content %}

<div class="row">
    <div class="col text-center">
        <p> {{ obj }} </p>
    </div>
    <!-- <div class="col text-right" id="timer-box"></div> -->
</div>

<a href="{% url 'quiz:course-list' %}" class="btn btn-danger">go back</a>


<form id="quiz-form">
    {% csrf_token %}
        <div id="quiz-box"> </div>
    <button type="submit" class="btn btn-primary mt-5">submit</button>
</form>

<div id="score-box" class="container"></div>
<div id="result-box"></div>



{% endblock content %}







{% block script %} 
    <script src="{% static 'quiz_app/quiz.js' %}"></script>
{% endblock script %}