{% extends 'quiz_app/base.html' %}


{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}

<a href="{% url 'quiz:course-list' %}" class="btn btn-danger back-btn">go back</a>

  <div class="card" >
    {% if not profile_model %}
    <p>click the button below to create your profile</p>
    <a href="{% url 'users:create-profile' %}" class="btn btn-lk bg-warning text-white">create profile</a>
    {% else %}
    <img src="{{ user.profile.profile_image.url }}" class="card-img-top" alt="...">
      {% for profile in profile_model %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item" >username: {{ profile.user }}</li>
      <li class="list-group-item">level: {{ profile.level }}</li>
      <li class="list-group-item">department: {{ profile.department }}</li>
    </ul>
      {% endfor %}
    <div class="card-body">
      <a href="{% url 'users:update-profile' request.user.id %}" class="btn btn-lk bg-primary text-white">update profile</a>
      <a href="{% url 'users:password-change' %}" class="btn btn-lk bg-danger text-white">change password</a>
    {% endif %}
  </div>
  </div>


<hr>

<div class="result-card" style="width: 18rem;">
  <table>
    <tr class="text-muted">
      <th>Course</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
  {% for result in results %}
    <tr>
      <td>{{ result.course }}</td>
        {% if result.score < 50 %}
          <td class="bg-danger text-white">{{ result.score }}%</td>
          {% else %}  
          <td class="bg-success text-white">{{ result.score }}%</td>
        {% endif %}
      <td>{{ result.mod_date }}</td>
    </tr>
  {% endfor %}
  </table>
</div>



<style>
    .back-btn {
      position: absolute ;
      right: 30px ;
      margin-top: 5px;
      
    } 

    .card {
      width: 25rem;
      border-radius: 10px;
      padding: 20px;
      margin: 50px auto;
    }

    .btn-lk {
      display: block;
      margin-bottom: 5px;
    }

    table {
      width:400px;
      margin-left: 10px;
      margin-bottom: 100px;
    }

    td, th {
      border: 1px solid grey;
      text-align: center;
    }
</style>

{% endblock content %}
