{% extends 'quiz_app/base.html' %}


{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}

<a href="{% url 'quiz:course-list' %}" class="btn btn-success">go back quiz page</a>

  <div class="card" >
    {% if not profile_model %}
    <p>click the button below to create your profile</p>
    <a href="{% url 'users:create-profile' %}" class="btn btn-lk bg-warning text-white">create profile</a>
    {% else %}
    <img src="{{ user.profile.profile_image.url }}" class="card-img-top" alt="...">
      {% for profile in profile_model %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item" >username: {{ profile.user }}</li>
      <li class="list-group-item">level: {{ profile.level }}</li>
      <li class="list-group-item">department: {{ profile.department }}</li>
    </ul>
      {% endfor %}
    <div class="card-body">
      <a href="{% url 'users:update-profile' request.user.id %}" class="btn btn-lk bg-primary text-white">update profile</a>
      <a href="{% url 'users:password-change' %}" class="btn btn-lk bg-danger text-white">change password</a>
    {% endif %}
  </div>
  </div>


<hr>

<div class="result-card" style="width: 18rem;">
  {% for result in results %}
  <ul class="list-group">
    <li class="list-item">
        <span class="btn bg-dark text-muted">course:</span>
        <span class="txt">{{ result.course }}</span> 
    </li>
    <li class="list-item">
        <span class="btn bg-dark text-muted">score:</span>
        <span class="txt">{{ result.score }}%</span>
    </li>
    <li class="list-item">
        <span class="btn bg-dark text-muted">date:</span> 
        <span class="txt">{{ result.mod_date }}</span>
    </li>
  </ul>
  <div class="seprator"></div>
  {% endfor %}
</div>



<style>
      .card {
        width: 30rem;
        border-radius: 10px;
        padding: 20px;
        margin: 100px auto;
    }
    .btn-lk {
      display: block;
      margin-bottom: 5px;
    }
    .result-card {
        width: 40rem;
        /* border: 1px solid black; */
        border-radius: 10px;
        margin: 10px 50px;
    }
    ul.list-group {
      list-style-type: none;

    }
    .list-item {
      margin: 10px;
      border: 1px solid black;
      background: yellow;
    } 

    .txt {
      text-align: center;
    }

    .seprator {
      height: 20px;
      background-color: grey;
      /* border: 2px solid black; */
    }
</style>

{% endblock content %}
